<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <div ng-controller="customersCtrl">
        <table class="table" ng-repeat="x in record" style="background: silver;">
                <tr>
                    <th>Title:</th>
                    <td>{{x.Title}}</td>
                </tr>
                <tr>
                    <th>Artist:</th>
                    <td>{{x.Artist}}</td>
                </tr>
                <tr>
                    <th>Release date:</th>
                    <td>{{x.ReleaseDate}}</td>
                </tr>
                <tr>
                    <th>Price:</th>
                    <td>{{x.Price}}</td>
                </tr>
                <tr>
                    <th>Quantity:</th>
                    <td>{{x.Quantity}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>