<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
</head>
<body>
    <div class="jumbotron text-center" id="registerForm">
        <div class="input">
            <div class="col" style="width: 20%; margin-left: 40%;">
                <div class="form-group">
                    <label for="usr">Username:</label>
                    <input type="text" class="form-control" ng-model="username" placeholder="Username" id="usr">
                </div>
                <div class="form-group">
                    <label for="pas">Password:</label>
                    <input type="password"  class="form-control" ng-model="password" placeholder="Password" id="pas">
                </div>
            </div>
            <button class="btn btn-light" ng-click="login()">Back</button>
            <button class="btn btn-primary" ng-click="register()">Register</button>
        </div>
        </div>
    </div>
</body>
</html>